
 @font-face { font-style : normal; src: url("assets/fonts/ManropeRegular.ttf"); font-family : "Manrope"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/ManropeSemiBold.ttf"); font-family : "Manrope"; font-weight : 600;  }
 @font-face { font-style : normal; src: url("assets/fonts/MontserratRomanRegular.ttf"); font-family : "Montserrat"; font-weight : 400;  }